{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员登录</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pc/admin_login.css' %}">
</head>
<body>
    <p class="info">{{ errMess }}</p>
    <div class="container">
      <form class="form-signin" method="post" action="/admin/">
        <h2 class="form-signin-heading">管理员登录</h2>
        <input type="text" id="inputEmail" class="form-control" name="username"
               placeholder="用户名" required autofocus>
        <br>
        <input type="password" id="inputPassword" class="form-control" name="password"
               placeholder="密码" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>
      </form>
    </div>
</body>
</html>