{% extends "client/mobile/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container" style="margin-top:100px;padding:0px;">
    <div class="row img-list" id="carousel" data-ride="carousel" style="position:relative; margin-bottom: 25px;">
        <img ng-repeat="imgUrl in first.images" ng-src="/{[imgUrl]}" class="backimg"/>
        <a class="left-box glyphicon glyphicon-chevron-left"></a>
        <a class="right-box glyphicon glyphicon-chevron-right"></a>

    </div>
</div>
<div class="container" style="padding-left:50px; padding-right:50px;">

    <div class="media-box">
        <div class="mediab col-md-offset-1 col-md-8 col-xs-12 media-box1">
            <div class="row">
                <div class="media-left col-xs-6 col-md-6" style="height:360px;overflow:hidden;padding-left:0px;">
                    <img class="" ng-src="/{[second.image]}">
                </div>
                <div class="col-xs-6 col-md-6" style="background-color: #eeeeee; height:360px;padding:40px;">
                    <div class="text-box text-box-right">
                        <p>{[second['p1_' + cur_lang]]}</p>
                        <h2>
                            {[second['p2_' + cur_lang]]}<br>
                            {[second['p3_' + cur_lang]]}
                        </h2>
                        <div class="home_color-box home_color-box-right"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mediab col-md-offset-3 col-md-8 col-xs-12 media-box2">
            <div class="row">
                <div class="col-xs-6 col-md-6" style="background-color: #eeeeee; height:360px; padding:40px;">
                    <div class="text-box text-box-left">
                        <p>{[third['p1_' + cur_lang]]}</p>
                        <h2>
                            {[third['p2_' + cur_lang]]}<br>
                            {[third['p3_' + cur_lang]]}
                        </h2>
                        <div class="home_color-box home_color-box-left"></div>
                    </div>
                </div>
                <div class="media-right col-xs-6 col-md-6" style="height:360px;overflow:hidden;padding-right:0px;">
                    <img class="" ng-src="/{[third.image]}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}